<%- include("head.ejs") %>
<!-- START MAIN CONTENT AREA -->
<span class="preheader">Your delivery has been successfully completed!</span>

<tr>
  <td class="wrapper">
    <img style="height:20px; margin-top:20px;" src="https://kjvwlfbptuucvdjisomn.supabase.co/storage/v1/object/public/Payup%20Bucket/email-logo.png" alt="payup logo"/>

    <h2 class="title">Delivery Completed!</h2>

    <div class="content">
      <p style="margin-bottom: 10px">Hi <%= firstName %> 👋</p>
      <p>We are happy to inform you that your order has been successfully delivered! Thank you for choosing us for your delivery needs.</p>

      <p class="paragraph">If you have any questions about your delivery or feedback, please let us know.</p>

      <p>Best regards,</p>
      <p>The Seamless Point Team</p>
    
    <%- include("footer.ejs") %>
  </td>
</tr>
