 <%- include("head.ejs") %>
              <!-- START MAIN CONTENT AREA -->
                               <span class="preheader">Welcome to Seamless Point! We’re thrilled to have you on board.</span>
              <tr>
                <td class="wrapper">
                  <img style="height:20px; margin-top:20px;" src="https://kjvwlfbptuucvdjisomn.supabase.co/storage/v1/object/public/Payup%20Bucket/email-logo.png" alt="payup logo"/>

                  <h2 class="title">Welcome to Seamless Point 🎉</h2>
 
                  <div class="content">
                  <p style="margin-bottom: 10px">Hi <%=firstName%> 👋</p>
                  <p>Welcome to Seamless Point! We’re thrilled to have you on board.</p>

                  <h4 class="header" style="margin-bottom: 10px">Ready to make your first delivery?</h4>
                  
                  <!-- // CAll to action -->
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                    <tbody>
                      <tr>
                        <td align="left">
                          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td><a href="#">Go to your dashboard </a></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table> 

                <p>Payup enables you to manage, pay and reconcile reoccuring bills and settle invoices globally using your native currency.</p>

                <h4 class="header">Save up in multiple currency</h4>

                <p>Easily save in any currency and track your equivalents as market rates changes.</p>

                <h4 class="header">
                    Generate a prepaid card
                </h4>

                <p>Create your own contactless prepaid card for unlimited shopping with your chosen plan.</p>

                <h4 class="header">Make payments</h4>
                <p class="paragraph">Send money to users in your local currency, as a business or as an individual.</p>

                 <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                    <tbody>
                      <tr>
                        <td align="left">
                          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td><a href="#">Complete onboarding</a></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table> 
                  <%- include("footer.ejs") %>
                </td>
              </tr>




