 <%- include("head.ejs") %>
              <!-- START MAIN CONTENT AREA -->
                               <span class="preheader">Welcome to Seamless Point! We’re thrilled to have you on board.</span>
              <tr>
                <td class="wrapper">
                  <img style="height:20px; margin-top:20px;" src="https://kjvwlfbptuucvdjisomn.supabase.co/storage/v1/object/public/Payup%20Bucket/email-logo.png" alt="logo"/>

                  <h2 class="title">Welcome to Seamless Point 🎉</h2>
 
                  <div class="content">
                  <p style="margin-bottom: 10px">Hi <%=firstName%> 👋</p>
                  <p>Welcome to Seamless Point! We’re thrilled to have you on board.</p>

                  <h4 class="header" style="margin-bottom: 10px">Ready to make your first delivery?</h4>
                  
                  <!-- // CAll to action -->
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                    <tbody>
                      <tr>
                        <td align="left">
                          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td><a href="#">Start Shipping </a></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table> 

              

                <h4 class="header">Send anything you want from the comfort of your home seamlessly</h4>

                <p>Seamless point is aiming to be a logistics platform designed to facilitate the seamless shipment of parcels and packages and the offering of services by individuals state-wide.</p>

                <h4 class="header">Equipping bussinesses and merchants.</h4>
                <p class="paragraph">Equipping business owners, eCommerce merchants, and individuals with a platform to send and receive items locally.</p>

                 <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                    <tbody>
                      <tr>
                        <td align="left">
                          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td><a href="#">Start Shipping</a></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table> 
                  <%- include("footer.ejs") %>
                </td>
              </tr>




